---

---
<div id="toast" class="hidden absolute z-20 inset-0 items-center justify-center">
<div class="flex items-center justify-center w-full max-w-xs p-4 text-gray-500 border-2 border-gray-200 bg-white rounded-lg shadow-lg" role="alert">
    <p class="text-center font-semibold">Palabra no encontrada</p>
</div>
</div>